<div style="background-color: black; padding: 18px;">
    <h1> Coding Tank | Vem Ser Tech 
</div>

<div style="background-color: black; padding: 10px;">
    <h2> Tópicos da aula - AULA 1
</div>

- Variáveis
- Tipos básicos
- Entradas/Saídas
- Operadores aritméticos, atribuição e comparação

# Introdução

Vamos explorar como o jupyter notebook funciona, botões, comandos e tipos de célula

Markdown

In [1]:
2

2

In [2]:
3

3

In [3]:
3 + 2

5

In [4]:
3 - 2

1

In [5]:
15 / 2

7.5

In [6]:
15 // 2

7

In [7]:
15 % 2

1

In [8]:
15 ** 2

225

**Operadores Aritméticos**

|     Operador    |     Nome                 |     Função                                                                       |
|-----------------|--------------------------|----------------------------------------------------------------------------------|
|     +           |     Adição               |     Realiza   a soma de ambos operandos.                                         |
|     -           |     Subtração            |     Realiza   a subtração de ambos operandos.                                    |
|     *           |     Multiplicação        |     Realiza   a multiplicação de ambos operandos.                                |
|     /           |     Divisão              |     Realiza   a Divisão de ambos operandos.                                      |
|     //          |     Divisão   inteira    |     Realiza   a divisão entre operandos e a parte decimal de ambos operandos.    |
|     %           |     Módulo               |     Retorna   o resto da divisão de ambos operandos.                             |
|     **          |     Exponenciação        |     Retorna   o resultado da elevação da potência pelo outro.                    |

Mas como podemos armazenar esses valores?

# Variáveis

Variável é o nome dado ao tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.

Imagine que você conhece uma nova pessoa. A variável seria o lugar no seu cérebro no qual você guarda, por exemplo, o nome desta pessoa, ou seja, é alocado um espaço para armazenar esta informação e posteriormente é passado o valor referente aquele dado.

`nome = "Renata"`

## Tipos básicos

Podemos ter informações relacionadas às outras pessoas como nome, idade e salário. Cada uma delas possui o que chamamos de tipos de variável. Os tipos de dados são os seguintes:

Variavel é o que armazenamos dentro da memória RAM do nosso computador

In [14]:
nome = 'Renata'
nome

'Renata'

In [11]:
nome = 'Nara'
type(nome)

str

str: coleção de caracteres

In [15]:
nome = "Nara"

In [16]:
# feita a reatribuição da variavél
nome

'Nara'

aspas simples ('') ou aspas duplas ("") são equivalentes

In [17]:
idade = 28
type(idade)

int

int: integer, simples numérico

In [18]:
idade

28

In [19]:
idade = 21.13
type(idade)

float

float: número com ponto flutuante, possuindo casas decimais

In [20]:
idade

21.13

In [21]:
certificado = True
type(certificado)

bool

bool: boolen, booleano (True ou False), é case sensitive

In [22]:
certificado = False
certificado

False

In [27]:
# atribuir o tipo da variável
certificado: bool = False
certificado

False

Idade é diferente de idade

# Entradas

Para solicitarmos entradas de informações a serem fornecidas pelo usuário podemos utilizar a função input. Com ela você poderá (opcional) passar uma mensagem instrutiva ao usuário do que deseja que ele insira.  
No exemplo abaixo utilizaremos o input.

In [28]:
input()

'123'

aparece um popup para incclusao de um valor, e por default ele considera esse valor um string

**Intuição**  
Veja que ele funciona, porém sem uma mensagem de qual informação é solicitada não é possível identificar o que se deve passar ao programa.

In [31]:
# insira a sua idade - será um lable para a mensagem 
input("insira a sua idade:")

'28'

**Variável**  
Podemos guardar o valor passado pelo usuário numa variável

In [32]:
idade = input("insira a sua idade:")

In [33]:
# printando o valor da variável
idade

'28'

Repare nas aspas que saem quando utilizamos apenas a função input. Isso quer dizer que este valor capturado pelo programa é uma string, independente do que o usuário insira.

In [35]:
type(idade)
# por default o input considera o valor inserido como string/texto

str

**Convertendo o tipo de dado**

Neste caso é interessante que a idade seja um número, visto que em geral o utilizamos para realizar contas, por exemplo. Para converter este valor para um inteiro, podemos fazer da seguinte forma:

In [37]:
int(idade)

28

In [38]:
idade = int(idade)
type(idade)

int

o Python não é uma linguagem tipada, e por isso podemos trocar os tipos de uma variável durante o código

In [39]:
float(idade)

28.0

In [40]:
str(float(idade))

'28.0'

In [ ]:
idade = int(input("Insira sua idade"))
# melhor fazer uma verificação/validação antes de fazer qualquer processamento na variável quando usado o input()

float usa mais espaço na memória do que inteiro, mas a utilização de um ou de outro vai depender muito da aplicação para evitar a perda de informaçoes

In [41]:
float('Nara')

ValueError: could not convert string to float: 'Nara'

erro já era esperado pois não teria como converter um string para float de modo algum

In [42]:
int('0000124')

124

remove os zeros a esqueda do númoro, pois numeros inteiros nao possuem zeros a esquerda

E para simplificar ainda mais é comum que já realizemos a conversão da variável logo na chamada do input.

In [43]:
idade = int(input("Insira a sua idade"))

ValueError: invalid literal for int() with base 10: 'Nara'

quebra o códido porque forçamos a conversao logo no input, usar try except, validaçoes

In [44]:
idade = int(input("Insira a sua idade"))

In [45]:
type(idade)

int

## Saídas

Em diversas situações desejamos imprimir na tela o resultado de alguma operação que realizamos ou simplesmente emitirmos uma mensagem, para estas situações utilizamos o `print`.

In [47]:
# printando nada sai nada 
print()

In [48]:
# string pode ser com aspas duplas ou simples
print('Voce pode printar o que voce quiser aqui')

Voce pode printar o que voce quiser aqui

In [49]:
print("As aspas duplas também funcionam")

As aspas duplas também funcionam

podemos tambem colocar simbolos como ˜, ç, ´

In [50]:
print("Bulhões")

Bulhões

In [51]:
print("Olá pequenos \n gafanhotos")

Olá pequenos
 gafanhotos

\n pula de linha na saída

In [52]:
print("Olá \npequenos \ngafanhotos")

Olá
pequenos
gafanhotos

In [53]:
print("\té possível tabular")

	é possível tabular

\t é uma tabulaçao, adicionando um parágrafo no nosso texto

In [55]:
# printando uma sequencia de linhas
print("Olá \npequenos \ngafanhotos")
print("\té possível tabular")
print("Olá mundo!")

Olá
pequenos
gafanhotos
	é possível tabular
Olá mundo!

In [57]:
# sem o print conseguimos tambem printar 
"texto"

'texto'

In [58]:
# sem o print conseguimos tambem printar, so que se tiver varios na mesma celular, só o ultimo vai aparecer 
"texto"
"texto123"

'texto123'

**Mais de um argumento**  
Para imprimir mais de uma informação, o print permite inserir quantos argumentos forem necessários, desde que separados por vírgula. Veja o exemplo:

In [60]:
print('Ola', 'eu sou a ', 'Nara!')
# printa uma lista (por conta do *values da funcao print())

Ola eu sou a  Nara!

In [61]:
# incluindo algo ao final da string
print('Ola eu sou a Nara', end='!')

Ola eu sou a Nara!

**Print de variáveis**  
Também é possível imprimir variáveis de forma simples, basta passar o nome dado para a variável dentro dos parênteses.

In [62]:
print(idade)

12

E se for necessário imprimir a mensagem "Olá, eu sou Renata Marchese", de forma que o nome e o sobrenome sejam provenientes de variáveis nome e sobrenome

In [63]:
nome = "Renata" # atribuindo novo valor a variavel nome
sobrenome = "Marchese"
idade = 28

In [65]:
print("Olá, eu sou a", nome, sobrenome, "e eu tenho ", idade, "anos")

Olá, eu sou a Renata Marchese e eu tenho  28 anos

o espaco é colocado automaticamente na string, somente a virgula ja basta

In [66]:
print("Olá, eu sou a {} {} e eu tenho {} anos".format(nome, sobrenome, idade))

Olá, eu sou a Renata Marchese e eu tenho 28 anos

In [112]:
print("Olá, eu sou a %s %s e eu tenho %d anos"%(nome, sobrenome, idade))
# funciona exatamente como C e C++

Olá, eu sou a Renata Marchese e eu tenho 22 anos

In [115]:
salario = 1400.50
print("Olá, eu sou a %s %s e eu tenho %d anos e meu salário é %.2f"%(nome, sobrenome, idade, salario))
# trazendo apenas duas casas decimais

Olá, eu sou a Renata Marchese e eu tenho 22 anos e meu salário é 1400.50

In [125]:
imc = 20.9878
print(f"{imc}")

20.9878

In [129]:
imc = 20.9878
print(f"{imc:.2f}") # usando o f string para colocar apenas duas casas decimais, arredondando o valor e nao truncando o mesmo

20.99

para truncar nao teria uma forma especifica, poderia colocar para string e cortar as casa decimais, ou multiplicar por um numero exato das casas que queremos, ou entao usar o % para cortar as casa

**Print com f string**  
Outra forma de utilizarmos o print com variáveis é por meio do que chamamos de f string.

In [68]:
# boa pratica para usar no nosso cotidiano
print(f"Olá, eu sou a {nome} {sobrenome} e eu tenho {idade} anos")

Olá, eu sou a Renata Marchese e eu tenho 28 anos

**Bora praticar!**  
Escreva um programa que receba seu nome, sua idade, hobby e escreva uma única sentença que seja, por exemplo, "Meu nome é Renata, tenho 22 anos e meu hobby é viajar"

In [82]:
name = input("Qual o seu nome?")
name

'Renata'

In [83]:
age = input("Qual a sua idade?")
age = int(age)
age

22

In [84]:
hobby = input("Qual o seu hobby?")
hobby

'viajar'

In [85]:
print(f"Meu nome é {name}, tenho {age} anos e meu hobby é {hobby}")

Meu nome é Renata, tenho 22 anos e meu hobby é viajar

# Operadores Algébricos e de Atribuição
Rotineiramente nos deparamos com a necessidade de realizarmos cálculos, para isso utilizamos os operadores algébricos como conhecemos na matemática tradicional. Mas como usar com variáveis?

In [87]:
valor_01 = 10
valor_02 = 15
print(valor_01 + valor_02) # consegue fazer essa some e trazer o resultado final de uma operação

25

In [89]:
x = 5
y = 2

z = x + y

print("valor de x = ", x)
print("valor de y = ", y)
print("valor de z = ", z)

x = x + 1

print("valor de x = ", x)
print("valor de z = ", z)

valor de x =  5
valor de y =  2
valor de z =  7
valor de x =  6
valor de z =  7

In [92]:
x = 5
y = 2

z = x + y

print("valor de x = ", x)
print("valor de y = ", y)
print("valor de z = ", z)

x += 1
z = x + y # reatribui o valor do z, com o novo valor de x que foi modificado

print("valor de x = ", x)
print("valor de z = ", z)

valor de x =  5
valor de y =  2
valor de z =  7
valor de x =  6
valor de z =  8

**Operadores de atribuição**

|     Operador    |     Equivalente a    |
|:---------------:|----------------------|
|         =       |     x =   1          |
|        +=       |     x =   x + 1      |
|        -=       |     x =   x - 1      |
|        *=       |     x =   x * 1      |
|        /=       |     x =   x / 1      |
|        %=       |     x =   x % 1      |

**Bora praticar!**  
Com tudo que vimos até o momento faça um programa que solicite ao usuário que insira seu ano de nascimento. Desconsiderando o mês do ano de nascimento, emita uma mensagem dizendo quantos anos ele possui.

In [93]:
birth_year = input("Qual o seu ano de nascimento?")
birth_year = int(birth_year)

In [94]:
age = 2024 - birth_year
print(f"Voce possui {age} anos")

Voce possui 25 anos

In [124]:
birth_year = input("Qual o seu ano de nascimento?")
birth_year = int(birth_year)

age = 2024 - birth_year
print(f"Voce possui {age} anos")

Voce possui 24 anos

## Operadores de Comparação  
Os operadores de comparação são aqueles que possuem o objetivo de analisar os valores de uma expressão e retornar um valor booleano, ou seja, verdadeiro (1) ou falso (0).

**Operadores de comparação**

|     Operador    |           Nome          |     Função                                              |
|:---------------:|:-----------------------:|---------------------------------------------------------|
|        ==       |         Igual   a       |     Verifica   se um valor é igual ao outro             |
|        !=       |      Diferente   de     |     Verifica   se um valor é diferente ao outro         |
|         >       |        Maior   que      |     Verifica   se um valor é maior que outro            |
|        >=       |     Maior   ou igual    |     Verifica   se um valor é maior ou igual ao outro    |
|         <       |        Menor   que      |     Verifica   se um valor é menor que outro            |
|        <=       |     Menor   ou igual    |     Verifica   se um valor é menor ou igual ao outro    |

In [95]:
3 > 2

True

In [96]:
print(3 > 2)

True

In [97]:
print(3 < 2)

False

In [98]:
print(3 <= 2)

False

In [99]:
print(3 >= 3)

True

In [100]:
print(3 > 3)

False

In [105]:
print(3 < 3)

False

In [107]:
print(3 = 2) # estamos tentando fazer uma atribuição e nao uma comparação
# a mensagem esta mais detalhada porque é devido ao uso de uma versão mais recente do python

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2537435309.py, line 1)

In [104]:
print(3 == 2)

False

In [108]:
print(3 == 3)

True

In [109]:
print(3 != 2)

True

In [110]:
print(3 =! 2) # só possui uma forma de escrever o diferente

SyntaxError: invalid syntax (2378862413.py, line 1)

**Bora praticar!**  
Imagine que você está implementando um sistema para verificar se os alunos de uma turma estudantil passaram na disciplina ou não. Para isso solicite que o usuário insira as notas das 4 provas realizadas por um estudante e calcule a média. Após isso, emita uma resposta booleana (True ou False) se o estudante passou na disciplina pensando que a média mínima para aprovação é que seja pelo menos 5.

In [131]:
grade_1 = input("Nota 1:")
grade_2 = input("Nota 2:")
grade_3 = input("Nota 3:")
grade_4 = input("Nota 4:")

grade_1 = float(grade_1)
grade_2 = float(grade_2)
grade_3 = float(grade_3)
grade_4 = float(grade_4)

sum = grade_1 + grade_2 + grade_3 + grade_4

medium = sum/4

print(f"Aprovado? {medium >= 5}")

Aprovado? True

Crie um algoritmo que calcule o IMC (índice de massa corporal). O IMC é calculado com a formula PESO/(ALTURA ^ 2). Para isso, coloque as informações nas variáveis e ao final apresente o resultado como no exemplo: "O IMC é 18"

In [122]:
height = input("Qual a sua altura?")
weight = input("Qual o seu peso?")

height = float(height)
weight = float(weight)

imc = weight / (height ** 2)

print("O valor do seu IMC é %.2f"%(imc))

O valor do seu IMC é 20.57

In [132]:
height = input("Qual a sua altura?")
weight = input("Qual o seu peso?")

height = float(height)
weight = float(weight)

imc = weight / (height ** 2)

print(f"O valor do seu IMC é {imc:.2f}")

O valor do seu IMC é 26.87

Escreva um algoritmo que calcule (x + y) * (x + y). Os valores de x e y devem ser inseridos pelo usuário

In [123]:
x = input("Insira o valor de x")
y = input("Insira o valor de y")

x = float(x)
y = float(y)

result = (x + y) * (x + y)

print(f"O resultado da sua operaçao é {result}")

O resultado da sua operaçao é 25.0